<main role="main">
  <% list = Listing.find(params[:id]) %> 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% if !list.rooms.empty? %>
        <% temp_num = 0 %>
        <% while temp_num < list.rooms.size %>
          <li data-target="#myCarousel" id='listItem<%= "#{temp_num}" %>' data-slide-to= '<%= "#{temp_num}" %>' class=""></li>
          <% temp_num += 1 %>
        <% end %>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% if !list.rooms.empty? %>
        <% list.rooms.each_with_index do |url, index| %>
          <div id='carousel-item<%= "#{index + 1}" %>' class="carousel-item">
            <%= image_tag url.url.to_s, alt: "slide #{index + 1}", style: "min-width: 100%; height: 32rem;" %>
          </div>
          <div class="container">
            <div class="carousel-caption text-left">
              <% if list.verification %>
                <h1 class="text-danger"><%= list.name %> <span class="badge badge-pill badge-info">Verified</span></h1>
              <% else %>
                <h1 class="text-danger"><%= list.name %> <span class="badge badge-pill badge-light">Pending</span></h1>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container" style="padding: 15px">
    <div class="row justify-content-lg-center">
      <div class="col-lg-7 text-left">
        <%= image_tag("property.png", class: "rounded-circle", alt: "Property Image", style: "width: 140px; height: 140px") %>
        <h2><u>Room Description</u></h2>
        <p><%= list.description %></p>
        <br>
        <h2><u>Address</u></h2>
        <p><%= list.address %></p>
        <br>
        <h2><u>Amenities Available</u></h2>
        <ul>
          <% if list.amenities.empty? %>
            <li>None</li>
          <% else %>
            <% list.amenities.each do |item| %>
              <li><%= item %></li>
            <% end %>
          <% end %>
        </ul>
        <br>
      </div>
      <div class="col-lg-4 text-center">
        <%= image_tag("profile.png", class: "rounded-circle", alt: "Profile Image", style: "width: 140px; height: 140px") %>
        <h2>Owner Detail</h2>
        <p>
          <%= list.user.name %>
          <br>
          <%= list.user.email %>
        </p>
        <p><%= button_to "View details »", "/#{list.user.username}", method: :get, class: "btn btn-secondary" %></p>
      </div>
    </div>
  </div>

  <div class="container" style="padding: 15px">
    <div class="card-deck mb-3 text-center col-lg-8 mx-auto">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Price Per Night</h4>
        </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">RM <%= list.price %><small class="text-muted">/ night</small></h1>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary" data-toggle="modal" data-target="#modalDate">Book Now</button>
          </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="modalDate" tabindex="-1" role="dialog" aria-labelledby="dateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dateModalLabel">Choose Date</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <%= form_with scope: :reservation, url: listing_reservation_index_path(list.id), local: true do |form| %>
          <div class="modal-body">
            <div class="container">
              <div class="form-group">
                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                  <%= form.text_field :date_in, class: "form-control datetimepicker-input", date: {target: "#datetimepicker4"} %>
                  <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group date" id="datetimepicker5" data-target-input="nearest">
                  <%= form.text_field :date_out, class: "form-control datetimepicker-input", date: {target: "#datetimepicker5"} %>
                  <div class="input-group-append" data-target="#datetimepicker5" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit "Confirm", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>

<script type="text/javascript">
  let listItem = document.getElementById ("listItem0");
  let carouselItem = document.getElementById ("carousel-item1");

  listItem.className += " active";
  carouselItem.className += " active";

  $(function () {
      $('#datetimepicker4').datetimepicker({
          format: 'LL'
      });
      $('#datetimepicker5').datetimepicker({
          format: 'LL',
          useCurrent: false
      });
      $("#datetimepicker4").on("change.datetimepicker", function (e) {
          $('#datetimepicker5').datetimepicker('minDate', e.date);
      });
      $("#datetimepicker5").on("change.datetimepicker", function (e) {
          $('#datetimepicker4').datetimepicker('maxDate', e.date);
      });
  });
</script>