<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <div class="text-field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="text-field">
      <%= form.label :username %>
      <%= form.text_field :username %>
    </div>

    <div class="text-field">
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email' %>
    </div>

    <div class="password-field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <p><%= link_to "Sign up with Google", "/auth/google_oauth2" %></p>
    </div>
  <% end %>
</div>
