<% if signed_in? && current_user.id === User.find_by(username: params[:username]).id %>
  <%= form_with scope: :user_avatar, url: "/users/avatar", local: true do |form| %>
    <%= form.label :"Upload your avatar" %><br>
    <%= form.file_field :avatar, multiple: true %>
    <%= form.hidden_field :avatar_cache %>
    <p>
      <label>
        <%= form.check_box :remove_avatar %>
        Remove avatar
      </label>
    </p>
    <%= form.submit %>
  <% end %>
  <hr>
  <%= button_to "Post", new_listing_path, method: :get %>
<% else %>
  <p>
    Reservation made:
    <% User.find_by(username: params[:username]).reservations.each_with_index do |item| %>
      <ol>
        <li><%= link_to "#{item.listing.name}", listing_path(item.listing.id) %> Owned by: <%= link_to "#{item.listing.user.username}", "/#{item.listing.user.username}" %>
          <ul>
            <li>From: <%= item.date_in %> To <%= item.date_out %> <%= button_to "See reservation", reservation_path(item.id) , method: :get %> </li>
          </ul>
        </li>
      </ol>
    <% end %>
  </p>  
<% end %>