<p>
  <% if @list.verification %>
    <strong>Verified</strong>
  <% end %>
</p>
<p>Name of the room: <%= @list.name %></p>
<p>Description of the room: <%= @list.description %></p>
<p>Price: <%= @list.price %></p>
<p>Owner: <%= link_to "#{@list.user.username}", "/#{@list.user.username}" %></p>
<br>
<p>Booked date:
  <ul>
  <% @reservation.each_with_index do |row, index| %>
    <li>From: <strong><%= row.date_in %></strong> to <strong><%= row.date_out %></strong> By: <%= link_to "#{row.user.username}", "/#{row.user.username}" %></li>
  </ul>
  <% end %>
</p>
<%= link_to "Make Payment", "/listing/#{@list.id}/reservation/payment/new" %>
<%= paginate @reservation %>