<p>Reservation number: <%= @reservation.id %></p>
<div>Details:
  <p>Name of the room: <%= @reservation.listing.name %></p>
  <p>Description of the room: <%= @reservation.listing.description %></p>
  <p>Price: <%= @reservation.listing.price %></p>
  <p>Location: <%= @reservation.listing.location %></p>
  <p>Owner: <%= link_to "#{@reservation.listing.user.username}", "/#{@reservation.listing.user.username}" %></p>
  <br>
  <p>Booked date:
    <ul>
      <li>From: <strong><%= @reservation.date_in %></strong> to <strong><%= @reservation.date_out %></strong> By: <%= link_to "#{@reservation.user.username}", "/#{@reservation.user.username}" %></li>
    </ul>
  </p>
</div>
<% if current_user.id === @reservation.user.id %>
  <%= button_to "Cancel booking", reservation_path(@reservation.id), method: :delete %>
<% end %>